In [8]:
import pandas as pd
movies = pd.read_csv("data/movies.csv")
links = pd.read_csv("data/links.csv")
ratings = pd.read_csv("data/ratings.csv")
tags = pd.read_csv("data/tags.csv")

In [6]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [35]:
# create dataframe with movieId as index
df = ratings.copy()
df = ratings.set_index("movieId")

# merge all data together
df = df.merge(movies, left_on="movieId", right_on="movieId")
df = df.merge(tags, left_on="movieId", right_on="movieId")
df = df.merge(links, left_on="movieId", right_on="movieId")
df.drop(columns=['timestamp_x', 'timestamp_y', 'tag', 'userId_y', 'tmdbId'], inplace=True)
df.rename(columns={"userId_x": "userId"}, inplace=True)
df.drop_duplicates(inplace=True)
df = df.set_index("movieId")

df

,userId,rating,title,genres,imdbId
movieId,,,,,
1,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,114709
3,1,4.0,Grumpier Old Men (1995),Comedy|Romance,113228
47,1,5.0,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,114369
50,1,5.0,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,114814
101,1,5.0,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance,115734
...,...,...,...,...,...
158872,610,3.5,Sausage Party (2016),Animation|Comedy,1700841
161634,610,4.0,Don't Breathe (2016),Thriller,4160708
164179,610,5.0,Arrival (2016),Sci-Fi,2543164
168248,610,5.0,John Wick: Chapter Two (2017),Action|Crime|Thriller,4425200
168252,610,5.0,Logan (2017),Action|Sci-Fi,3315342